<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rafaelanastacioalves.design.concepts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".ui.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rafaelanastacioalves.design.concepts.ui.entitymainlisting.MainActivity"
            android:parentActivityName="com.rafaelanastacioalves.design.concepts.ui.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rafaelanastacioalves.design.concepts.ui.home.HomeActivity" />
        </activity>

        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.rafaelanastacioalves.design.concepts.ui.articledetail.ArticleDetailActivity"
            android:parentActivityName="com.rafaelanastacioalves.design.concepts.ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rafaelanastacioalves.design.concepts.ui.home.HomeActivity" />
        </activity>

    </application>

</manifest>